$font12: 12px;/*px*/
$font18: 18px;/*px*/
$font20: 20px;/*px*/
$font22: 22px;/*px*/
$font24: 24px;/*px*/
$font26: 26px;/*px*/
$font28: 28px;/*px*/
$font30: 30px;/*px*/
$font32: 32px;/*px*/
$font34: 34px;/*px*/
$font36: 36px;/*px*/
$font40: 40px;/*px*/
$font44: 44px;/*px*/
$font68: 68px;/*px*/
.mint-toast-text{
	font-size: 32px !important;
}
